[MASTER]
# Allow imports relative to the package
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Disable some warnings:
disable=
    W1203,  # Logging f-string interpolation
    W0707   # Raise missing "from" (optional)

[FORMAT]
# Set max line length
max-line-length=100

[DESIGN]
# Allow up to 25 arguments in a function (default is 5, too restrictive)
max-args=25
# Allow longer functions before warning
max-locals=40
max-statements=80
